* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    overflow: hidden; /* Remove a barra de rolagem horizontal e vertical */

}
/* menu superior */
.logo {
    height: 20px;
  }

.menu-superior{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d3d3d3;
}

ul{
    display: flex;
    gap: 70px;
    list-style: none; /* retirar a bolinha da lista */
    margin-left: 70px;
}

li{
    font-size: 12px;
    font-weight: 700px;
    color: #373737;
}


/* parte inferior */
section {
  display: flex;
  padding: 50px;
  justify-content: space-between; /* alinha um para cada lado, cria um espaço entre os itens*/
  align-items: center;
}

.titulo-iphone {
  font-size: 30px;
}

.titulo-secundario {
  font-size: 35px; /*tamanho do texto*/
  margin-top: 15px; /* margem superior */
  margin-bottom: 20px; /* margem inferior */
}

.descricao {
  font-size: 15px;
  margin-bottom: 20px; /* margem inferior */
}

.preco {
  font-size: 20px;
  color: #626262; /*cor do texto*/
  font-weight: 300; /*espessura do texto*/
  margin-bottom: 30px; /* margem inferior */
}

.botao-comprar {
  background-color: #0071e3;
  font-size: 20px;
  border-radius: 20px;
  border: none; /* retira a borda*/
  cursor: pointer; /* cursos de mao*/
  padding: 10px 20px; /* espacamento interno do item 10px em cima e em baixo e 20px dos lados */
  color: #ffffff;
}

button:hover {
    transform: translateY(-4px); /* Eleva o botão ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta a sombra para realçar o efeito 3D */
  }

/* ajustes nas bolinhas */
.troca-cor {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.azul {
  background-color: #81a5c4;
}
.amarelo {
  background-color: #f7da47;
}
.branco {
  background-color: #c1c1c1;
}
.preto {
  background-color: #272d33;
}
.vermelho {
  background-color: #b50012;
}
.roxo {
  background-color: #ede7f1;
}

.escolha-cor {
  font-size: 16px;
  color: #3a3a3a;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 20px;
}

.celular {
  margin-top: 120px;
  width: 250px; /*largura*/
  z-index: 99; /* garante que o celular fique por cima do circulo*/

}

.circulo{
    width: 100%;
    height: 100%;
    background: #81a5c4;

    /* posicionando o circulo */
    position: absolute; /* posição absoluta */
    top: 0;  
    left: 0;
    clip-path: circle(600px at right 1000px);
}
